# Using Spark on Kubernetes

In [3]:
from pyspark import SparkContext, SparkConf
from pyspark.sql import SparkSession

## Configs

These configs are set to work with the stack at: https://github.com/Data-drone/data_eng_kube.git

In [4]:
sparkConf = SparkConf()
sparkConf.setMaster("k8s://https://kubernetes.default.svc.cluster.local:443")
sparkConf.setAppName("spark")
sparkConf.set("spark.kubernetes.container.image", "k3d-test-registry:5000/datadrone/spark-worker:3.1.2-hadoop3.2-rapids")
sparkConf.set("spark.kubernetes.namespace", "jhub")
sparkConf.set("spark.executor.instances", "7")
sparkConf.set("spark.executor.cores", "2")
sparkConf.set("spark.driver.memory", "512m")
sparkConf.set("spark.executor.memory", "512m")
sparkConf.set("spark.kubernetes.pyspark.pythonVersion", "3")
sparkConf.set("spark.kubernetes.authenticate.driver.serviceAccountName", "spark")
sparkConf.set("spark.kubernetes.authenticate.serviceAccountName", "spark")
#sparkConf.set("spark.driver.blockManager.port", "7777")
#sparkConf.set("spark.driver.port", "2222")

In [5]:
spark = SparkSession.builder.config(conf=sparkConf).getOrCreate()

21/09/24 13:58:42 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

# Generate some test data and run through Spark

In [9]:
import pandas as pd
import numpy as np

In [11]:
df = pd.DataFrame(np.random.randn(100000,20))

In [12]:
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,-1.520526,1.257471,-0.837142,-1.464086,-1.166444,-1.447263,-0.730329,-1.677061,1.207916,1.437968,0.276219,-1.485697,-1.660688,0.572675,0.302909,0.717192,-0.494848,-0.127130,-1.662745,1.193841
1,0.187443,-0.180966,0.580127,0.894383,0.416617,-0.202259,1.038296,1.125784,-0.494992,1.257571,-0.757522,-0.835777,0.481558,-0.619822,-0.050677,2.085050,-1.408563,-0.524603,0.727098,1.234794
2,-0.395079,1.841727,-0.673116,-1.566680,-0.245682,0.154755,0.193560,-1.052250,-1.533664,-0.105014,1.117417,-0.071455,1.585373,-0.016005,-0.885037,-0.023516,-1.423014,-1.102648,0.365883,1.065792
3,-0.432628,1.157481,0.386807,0.601204,1.910105,1.351120,-0.938100,-0.149511,0.521578,-0.538858,1.468670,-1.436999,0.094204,0.039238,-0.128717,-0.892526,-0.161283,-0.838804,-0.333099,-0.363571
4,1.489091,0.142985,-0.595420,-0.599466,-1.428830,0.007271,1.919305,0.317579,-2.259838,0.143203,0.605713,-0.054180,-0.868309,-0.932193,0.290701,1.264164,1.791445,1.070067,-0.062678,1.868255

In [14]:
sparkDF=spark.createDataFrame(df)

In [16]:
sparkDF.printSchema()

root
 |-- 0: double (nullable = true)
 |-- 1: double (nullable = true)
 |-- 2: double (nullable = true)
 |-- 3: double (nullable = true)
 |-- 4: double (nullable = true)
 |-- 5: double (nullable = true)
 |-- 6: double (nullable = true)
 |-- 7: double (nullable = true)
 |-- 8: double (nullable = true)
 |-- 9: double (nullable = true)
 |-- 10: double (nullable = true)
 |-- 11: double (nullable = true)
 |-- 12: double (nullable = true)
 |-- 13: double (nullable = true)
 |-- 14: double (nullable = true)
 |-- 15: double (nullable = true)
 |-- 16: double (nullable = true)
 |-- 17: double (nullable = true)
 |-- 18: double (nullable = true)
 |-- 19: double (nullable = true)

In [ ]:
# Shutdown Our Context
#spark.stop()